<div class="content">
  <h2 class="page-header">Info</h2>
  <p class="strong">Welcome to the *Museum*.</p>
    <p class="normal">It's a pleasure for us!</p>
  <p class="strong">Opening:</p>
    <p class="normal">from 8.00am until 8.00pm</p>
  <p class="strong">Bar:</p>
    <p class="normal">You can have a coffee or a drink from 8.00 until 7.00pm</p>
  <p class="strong">Shop:</p>
    <p class="normal">Buy a gadget of your experience! Open from 7.30am until 8.30pm</p>
  <p class="info">Use the app for read <strong>special content</strong> and exclusive information of our artworks.</p>
  <p>You can access to this info, simply click on the info button: you will see it everytime in the app.</p>
</div>
