<div class="content">
    <h2 class="page-header">{{footballer.name}} {{footballer.surname}}
      <a class="btn btn-primary btn-back" [routerLink]="['/hall-of-fame']">Go Back</a>
    </h2>
    <div class="container">
    <div class="row">
      <div class="col-md-4">
          <img class="fb-image" src={{footballer.photoPath.normal}} alt="footballer photo">
          <img class="fb-image-small" src={{footballer.photoPath.normal}} alt="footballer photo">
      </div>
      <div class="col-md-4 fb-info">
        <ul class="info">
          <div class="list-group-item">
            <img class="stats img-stats" src="../../assets/hall-of-fame/datanascita.png" alt="icon-appearences">
            <li class="stats">Date of birth: <strong>{{footballer.dateBorn.day}}.{{footballer.dateBorn.month}}.{{footballer.dateBorn.year}}</strong></li>
          </div>
          <div class="list-group-item">
            <img class="stats img-stats" src="../../assets/hall-of-fame/numeromaglia.png" alt="icon-appearences">
            <li class="stats">Jersey number: <strong>{{footballer.numberShirt}}</strong></li>
          </div>
          <div class="list-group-item">
            <img class="stats img-stats" src="../../assets/hall-of-fame/presenze.png" alt="icon-appearences">
            <li class="stats">Total appearances: <strong>{{getSumAppearences(footballer)}}</strong></li>
          </div>
          <div class="list-group-item">
            <img class="stats img-stats" src="../../assets/hall-of-fame/goal.png" alt="icon-appearences">
            <li class="stats">Total goals: <strong>{{getSumGoals(footballer)}}</strong></li>
          </div>
          <div class="list-group-item">
            <img class="stats img-stats" src="../../assets/hall-of-fame/nazionalita.png" alt="icon-appearences">
            <li class="stats">Nationality: <strong>{{footballer.nationality}}</strong></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
      <div class="palmares">
        <h2 class="page-header">Palmares with Milan</h2>
          <div class="col-md-4 content-trofeo" *ngFor="let trophy of footballer.trophiesWon">
            <img class="trofeo trophyPic" src={{getThrophyPath(trophy)}} alt="trophy-icon" >
            <li class="list-group-item trofeo numerovittorie"><strong>{{trophy.numberofWin}}</strong></li>
            <li class="list-group-item trofeo">{{trophy.name}}</li>
          </div>
      </div>
      <div class="biography">
        <h2 class="page-header">Biography</h2>
        <a class="list-group-item">{{footballer.description}}</a>
      </div>
      <div class="carriera">
        <h2 class="page-header">Career in AC Milan</h2>
          <table>
            <tr>
              <th>Year</th>
              <th>Appearances</th>
              <th>Goals</th>
              <th>Assists</th>
            </tr>
            <tr *ngFor="let stat of footballer.statics">
              <td>{{stat.year}}</td>
              <td>{{stat.apperances}}</td>
              <td>{{stat.goals}}</td>
              <td>{{stat.assists}}</td>
            </tr>
          </table>
        </div>
</div>
