.content{
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: milanregular;
}

@media only screen and (min-width: 1400px) {
  .content{
    padding: 1% 20%;
  }
  .btn-dashboard{
    height: 200px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1399px){
  .content{
    padding: 1% 10%;
  }
  .btn-dashboard{
    height: 200px;
  }
}
