.page-header{
  margin-top: 18px;
}
.input{
  padding-left: 5%;
  padding-right: 5%;
}
.page-header,
.btn-primary{
  font-family:milanfont;
}
.form-group{
  font-family: milanregular;
}
@media only screen and (min-width: 1400px) {
  .content,
  .input{
    padding: 1% 20%;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1399px){
  .content,
  .input{
    padding: 1% 10%;
  }
}
