.homepage{
    margin-bottom: 10%;
}
.title{
  font-family: milanfont;
}
.title,.lead{
  font-weight: bold;
}
.logo{
  width: 75px;
  height: 75px;
}
.img-feature{
  width: 50px;
  height: 50px;
}
.features{
  margin-top:10px;
  font-family: milanbold;
}
.lead,
.subfeatures{
  font-family: milanregular;
}
.btn{
  font-family: milanfont;
}
.jumbotron {
  background-color: inherit;
  color: #f4f4f4;
  background-image: url(../../../assets/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 0px;
  max-width: 1600px;
  height: 350px;
  text-align: center;
}
.jumbotron-content{
  padding-top: 10%;

}
.col-md-4 {
  text-align: center;
}

.icon, .info {
  display: inline-block;
}

.icon {
  width: 75px;
  height: 75px;
  padding-bottom: 10%;
}

@media only screen and (min-width: 1400px) {
  .jumbotron {
    margin: 0% 15% 2%;
    height: 650px;
  }
  .jumbotron-content{
    padding-top: 5%;
  }
  .logo{
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1399px){
  .homepage{
      margin-bottom: 2%;
  }
  .jumbotron {
    margin: 0% 0% 2%;
    height: 650px;
  }
  .jumbotron-content{
    padding-top: 5%;
  }
  .logo{
    width: 150px;
    height: 150px;
  }
}
