/*.homepage{
  background-image: url(header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 5px;
  opacity: 70%;
}
.jumbotron{
  background-color: inherit;
  color: #f4f4f4;
}
.col-md-4{
  text-align: center;
}
.icon,
.info{
  display: inline-block;
}
.icon
{
  width:75px;
  height:75px;
  padding-bottom: 10%;
}
*/
