.title{
  font-family: milanfont;
}
.features{
  font-family: milanbold;
}
.lead,
.subfeatures{
  font-family: milanregular;
}
.btn{
  font-family: milanfont;
}
.homepage {
  background-image: url(../../../assets/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: 5px;
}

.jumbotron {
  background-color: inherit;
  color: #f4f4f4;
}

.col-md-4 {
  text-align: center;
}

.icon, .info {
  display: inline-block;
}

.icon {
  width: 75px;
  height: 75px;
  padding-bottom: 10%;
}
