<div class="homepage">
  <div class="jumbotron text-center">
    <h1>CASA MILAN Museum</h1>
    <p class="lead">Welcome to Casa. Authenticate yourself and start the tour.</p>
    <div>
      <a class="btn btn-default" [routerLink]="['/login']">Login</a>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-4">
      <h3>History</h3>
      <p>You can know our history.</p>
    </div>
    <div class="col-md-4">
      <h3>Trophies</h3>
      <p>Explore our trophies.</p>
    </div>
    <div class="col-md-4">
      <h3>Hall Of Fame</h3>
      <p>Admire our best players.</p>
    </div>
  </div>
