<div class="homepage">
  <div class="jumbotron text-center">
    <div class="jumbotron-content">
      <img class="logo" src="../../assets/logo.png" alt="logo">
      <h1 class="title">CASA MILAN Museum</h1>
      <p class="lead">Welcome to Casa. Authenticate yourself and start the tour.</p>
        <a class="btn btn-default" [routerLink]="['/login']">Login</a>
        <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    </div>
  </div>
</div>

<section>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="info">
      <img class="img-feature" src="../../assets/home/history.png" alt="history-icon">
      <h3 class="features">History</h3>
      <p class="subfeatures">You can know our history.</p>
    </div>
    </div>
    <div class="col-md-4">
      <img class="img-feature" src="../../assets/home/trophy.png" alt="trophies-icon">
      <h3 class="features">Trophies</h3>
      <p class="subfeatures">Explore our trophies.</p>
    </div>
    <div class="col-md-4">
      <img class="img-feature" src="../../assets/home/halloffame.png" alt="hall-of-fame-icon">
      <h3 class="features">Hall Of Fame</h3>
      <p class="subfeatures">Admire our best players.</p>
    </div>
  </div>
</div>
</section>
