.navbar{
  font-family: milanfont;
}

.navbar-toggle {
    z-index: 1;
}

navbar-alignit .navbar-header {
	  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 50px;
}

.navbar-alignit {
	top: 50%;
	display: block;
	position: relative;
	height: auto;
	transform: translate(0,-50%);
	margin-right: 15px;
  margin-left: 15px;
}

.navbar-brand{
  padding: 5px;
  width: 220px;
}
.navbar-brand>img {
  float:left;
  margin-right: 5px;
  height: 100%;
}
.navbar-title{
  padding-top: 5px;
  height: 30px;
}
