<div class="content">
  <a class="btn btn-primary" [routerLink]="['/trophies']">Go Back</a>
  <h2 class="page-header">{{trophy.name}}</h2>
    <ul class="nav nav-tabs" >
      <ng-container *ngFor="let winner of trophy.trophiesWon;first as firstElement">
        <li *ngIf="firstElement" class="active">
          <a href="#{{winner.year}}" data-toggle="tab" aria-expanded="true">{{winner.year}}</a>
        </li>
        <li *ngIf="!firstElement" class="">
          <a href="#{{winner.year}}" data-toggle="tab" aria-expanded="false">{{winner.year}}</a>
        </li>
      </ng-container>
    </ul>
    <div id="myTabContent" class="tab-content">
      <ng-container *ngFor="let winner of trophy.trophiesWon;first as isFirst">
        <div *ngIf="isFirst" class="tab-pane fade active in" id="{{winner.year}}">
          <p>{{winner.description}}</p>
          <swiper class="swiper-img" [config]="photoconfig">
            <div class="swiper-wrapper">
              <div class="swiper-slide winner-image" *ngFor="let img of winner.photoList">
                <img class="winner-img" src={{img.path}} alt="winner-img">
                <p>{{img.description}}</p>
              </div>
            </div>
            <div class="swiper-pagination-img"></div>
          </swiper>
        </div>
        <div *ngIf="!isFirst" class="tab-pane fade" id="{{winner.year}}">
          <p>{{winner.description}}</p>
          <swiper class="swiper-img" [config]="photoconfig">
            <div class="swiper-wrapper">
              <div class="swiper-slide winner-image" *ngFor="let img of winner.photoList">
                <img class="winner-img" src={{img.path}} alt="winner-img">
                <p>{{img.description}}</p>
              </div>
            </div>
            <div class="swiper-pagination-img"></div>
          </swiper>
        </div>
      </ng-container>
    </div>
  </div>




  <!--
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide winner" *ngFor="let winner of trophy.trophiesWon">
          <p>{{winner.year}}</p>
          <p>{{winner.description}}
          <swiper class="swiper-img" [config]="photoconfig">
            <div class="swiper-wrapper">
              <div class="swiper-slide winner-image" *ngFor="let img of winner.photoList">
                <img class="winner-img" src={{img.path}} alt="winner-img">
                <p>{{img.description}}</p>
              </div>
            </div>
            <div class="swiper-pagination-img"></div>
          </swiper>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </swiper> -->
