<div *ngFor="let footballer of footballers">
  <h2 class="page-header">{{footballer.name}} {{footballer.surname}}</h2>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
        <img class="fb-image" src={{footballer.photoPath.normal}} alt="footballer photo">
        <img class="fb-image-small" src={{footballer.photoPath.small}} alt="footballer photo">
    </div>
    <div class="col-md-4 fb-info">
      <ul class="info">
        <li class="list-group-item">Name: <strong>{{footballer.name}}</strong></li>
        <li class="list-group-item">Surname: <strong>{{footballer.surname}}</strong></li>
        <li class="list-group-item">Data di nascita: <strong>{{footballer.dateBorn.day}}-{{footballer.dateBorn.month}}-{{footballer.dateBorn.year}}</strong></li>
        <li class="list-group-item">Trofei vinti col Milan: <strong>NUMERO TROFEI VINTI</strong></li>
        <li class="list-group-item">Presenze col Milan: <strong>{{getSumAppearences(footballer)}}</strong></li>
        <li class="list-group-item">Gol col Milan: <strong>{{getSumGoals(footballer)}}</strong></li>
      </ul>
    </div>
  </div>
</div>
    <h2 class="page-header">Palmares col Milan</h2>
    <li *ngFor="let trophy of footballer.trophiesWon" class="list-group-item">{{trophy.name}}: {{trophy.numberofWin}}</li>
    <h2 class="page-header">Caratteristiche</h2>
    <a class="list-group-item">{{footballer.description}}</a>
    <h2 class="page-header">Carriera nel Milan</h2>
      <table>
        <tr>
          <th>Year</th>
          <th>Appearances</th>
          <th>Goals</th>
          <th>Assists</th>
        </tr>
        <tr *ngFor="let stat of footballer.statics">
          <td>{{stat.year}}</td>
          <td>{{stat.apperances}}</td>
          <td>{{stat.goals}}</td>
          <td>{{stat.assists}}</td>
        </tr>
      </table>
</div>
