<div class="content">
  <h2 class="page-header">{{history.name}}
    <a class="btn btn-primary btn-back" [routerLink]="['/history']">Go Back</a>
  </h2>

  <div class="history-item">
  <swiper [config]="config">
      <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let photo of history.additionalPhotoPath">
            <div [ngStyle]="{'background-image': 'url(' + photo.Path + ')'}">
              <img class="story-img" [src]="photo.path" alt="story-img">
            </div>
          </div>
      </div>
      <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
  </swiper>
    <div>
      <p class="description">{{history.description.long}}</p>
    </div>
  </div>
</div>
