<div class="content">
  <h2 class="page-header">{{history.name}}
    <a class="btn btn-primary btn-back" [routerLink]="['/history']">Go Back</a>
  </h2>

  <div class="history-item">
  <swiper [config]="config" class="swiper-img">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="story-img" src={{history.photoPath.normal}}>
        </div>
        <div class="swiper-slide" *ngFor="let photo of history.additionalPhotoPath">
          <img class="story-img" src={{photo.path}} alt="story-img">
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-scrollbar"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </swiper>
    <div>
      <p class="description">{{history.description.long}}</p>
    </div>
  </div>
</div>
